#header {
    height: 10vh;
 
    min-height: 40px;
    /* background: #F1F1F1; */
    padding: 20px 10px;
    overflow: hidden;   
}

#title-text {
    float: left;
    padding: 12;
    text-align: center; 
    font-size: 3vh;
    color: #000000;
}

.portfolio-container {
    background:gray;
    display: flex;
    
    flex-flow: row wrap;
    justify-content: flex-start;
}

#portfolio-item {
    margin: 30px;
    background: pink;
    height: 35vh;
    width: 30vh;
    display: block;
    max-height: 240px;
    max-width: 220px;
    min-width: 80px;
}

#portfolio-preview {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

#portfolio-title {
    margin: 0 auto;
    min-height: 30px;
    background: slategray;
    text-align: center;
    font-size: 16px;
}

p {
    font-size: 24px;
}

div {
    max-width: 100%;
    text-align: center;
}

body {
    margin: 0;
}

/*
* CSS identifier rules
* . identify classes
* # identifies by id
* <tag> applies to all that tag
*/