#navbar {
    height: 10vh;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    min-height: 40px;
    background: green;
}

#title-text {
    float: left;
    text-align: center; 
    font-size: 3vh;
    color: #000000;
}

.portfolio-grid {
    background:gray;
    display: flex;    
    flex-flow: row wrap;
    justify-content: flex-start;
}

#project-link {
    margin: 30px;
    background: pink;
    height: 35vh;
    width: 30vh;
    display: block;
    max-height: 240px;
    max-width: 220px;
    min-width: 80px;
}

#portfolio-preview {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

#portfolio-title {
    margin: 0 auto;
    min-height: 30px;
    background: slategray;
    text-align: center;
    font-size: 16px;
}

h1 {
    font-size: 6rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-align: center;
}

.landing-section {
    background: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.landing-section > p {
    font-size: 3rem;
    font-weight: 350;
    font-style: italic;
    color: lightgray;
    text-align: center;
}

/*
* CSS identifier rules
* . identify classes
* # identifies by id
* <tag> applies to all that tag
*/